# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env
*.env

# Virtual environment
.venv/
venv/
ENV/
env/
pip-wheel-metadata/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Flask stuff
instance/
*.db

# MyPy / coverage / pytest
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/

# VSCode / IDEs / system files
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid
*.pid.lock
docker-compose.override.yml
__docker_cache__/